body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(178, 232, 241),rgb(101, 200, 224),rgb(63, 117, 168));
  color: black;
  border-bottom: 3px solid black;
  padding: 0px;
}

img {
  height: 70px;
  width: 100px;
  float: right;
  margin-right:100px;
}
#info-section {
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
   
  }

  .form-control{
      width: 250px;
  }

  .btn{
    width: 250px;
    font-size: 20px;
    color: black;
    background-color: rgb(101, 200, 224);
  }
.btn:hover{
    background-color: rgb(63, 117, 168);
}
/* @media only screen and (max-width: 599px) {
  .column {
    margin: 2px;
    padding: 0 20px 0 20px;
  }

  .card-content {
    padding: 20px;
  }
} */
