body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(130, 210, 235),
    rgb(103, 174, 236),
    rgb(241, 155, 163),
    rgb(230, 103, 34)
  );
  color: black;
  border-bottom: 3px solid black;
  padding: 0px;
}

/* img {
  height: 70px;
  width: 100px;
  float: right;
  margin-right: 100px;
} */
#info-section {
  float: left;
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  width:20%;
  
}

.form-control {
  width: 250px;
}
#main-section{
  float:right;
  padding-left: 20px;
  align-content: left;
  width:80%;
 
}

#past-search-buttons{
  margin-top: 20px;
}

#current-weather-container{
width:40%
}
.btn {
  width: 250px;
  font-size: 20px;
  color: black;
  background-color: rgb(101, 200, 224);
}

.btn:hover {
  background-color: rgb(63, 117, 168);
}

.listBtn:hover {
  cursor: pointer;
}

/* Assigning color code for UV Index */
span.severe {
  padding: 3px;
  background-color: red;
  color: white;
}

span.moderate {
  padding: 3px;
  background-color: yellow;
}

span.favorable {
  padding: 3px;
  background-color: green;
  color: white;
}
/* @media only screen and (max-width: px) {
  #info-section {
    margin: 2px;
    padding: 0 20px 0 20px;
  }

  #main-section {
    padding: 20px;
  }
} */
