body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(178, 232, 241),rgb(101, 200, 224),rgb(63, 117, 168));
  color: black;
  border-bottom: 3px solid black;
  padding: 0px;
}

img {
  height: 70px;
  width: 100px;
  float: right;
  margin-right:100px;
}
